@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.headroom {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.headroom-wrapper {
  height: 0 !important;
}

.headroom.headroom--unfixed {
  background-color: transparent !important;
  position: fixed;
}
.headroom.headroom--pinned {
  z-index: 60 !important;
}

.scroll-hidden::-webkit-scrollbar,
.scroll-hidden ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  opacity: 0;
  pointer-events: none;
}

.scroll-hidden::-webkit-scrollbar-thumb,
.scroll-hidden ::-webkit-scrollbar-thumb {
  background: transparent;
}

.scroll-hidden::-webkit-scrollbar-track,
.scroll-hidden ::-webkit-scrollbar-track {
  background: transparent;
}
